{% extends "layout.html" %}

{% block title %}
Need Help?
{% endblock %}


{% block main %}
<body class="test">
<div class="section">
        <p> If you need help regarding the Coronavirus pandemy you can get in contact with<br>
        <a style="color:#0f538f;" href = "mailto: coronavirusqueries@napier.ac.uk">coronavirusqueries@napier.ac.uk</a>.<br><br>
        For any kind of personal problem, health problem or general difficulty you can email<br>
        <a style="color:#0f538f;" href = "mailto: counselling@napier.ac.uk">counselling@napier.ac.uk</a>.<br><br>
        For all the international students there is a dedicated email that you can use for any problem you are facing:<br>
        <a style="color:#0f538f;" href = "mailto: internationalsupport@napier.ac.uk">internationalsupport@napier.ac.uk</a><br>
        and there is a phone number if you prefer to call instead <a style="color:#0f538f;">+44 (0)333 900 6040</a>.
        </p>
</div>
</body>

{% endblock %}

