{% extends "layout.html" %}

{% block title %}
Informatio About Lateral Flow Test Kits
{% endblock %}

{% block main %}

<h3>If you did not know, a lateral flow test is the one you take if you have no symptoms, for example if you need to travel.</h3>
<img src='https://i.guim.co.uk/img/media/f58c96c1bf900f6eaae5152bc4f08e3745acf0ff/279_393_3720_2232/master/3720.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=fd67db0b2a9cf690f04e702fb16e0c13' alt="NHS LOGO" style="max-width:50%" border="0"></a></center>
<p>Whilst if you have symptoms you should book a PCR test (<a href="https://differenttimezone.pythonanywhere.com/pcr">see the PCR Test section</a>)</p><br>
<div class="section">
<h4>To do that test you will need to collect the rapid LFD test kit from your nearest pharmacy by clicking <a href="https://maps.test-and-trace.nhs.uk/findatestcenter">here</a>.</h4>
<ul>
    <li>About 1 in 3 people with COVID-19 do not have symptoms but can still infect others.</li>
    <li>You should do a rapid test twice a week (every 3 to 4 days) to check if you have the virus. If people test positive and self-isolate, it helps stop the virus spreading.</li>
    <li>Even if you’re vaccinated, there’s still a chance you can pass COVID-19 on, so you should keep getting tested regularly.</li>
</ul>

</div>
{% endblock %}