{% extends "layout.html" %}

{% block title %}
Vaccination
{% endblock %}

{% block main %}
<h2 style="color:#0f538f;"><center>In the United Kingdom</center></h2>
<h3 style="font-size:25px;">A total of {{ vfirstDose }} people have had their first jab</h3>
<h3 style="font-size:25px;">and a total of {{ vsecondDose }} people have had their second jab.</h3><br>

<img src='https://www.hse.ie/images_upload/portal/eng/about/who/acute-hospitals-division/hospital-groups/dublin-midlands-hospital-group/news/HSE-COVID-Vaccine-Walk-in-Clinics-Twitter-Citywest-1.png' alt="NHS LOGO" style="max-width:58%" border="0"></a></center><br><br>
<div class="section">
    <p> Vaccination appointments are still available, you can get in contact with the NHS Lothian vaccination team via email:<br>
    <a style="color:#0f538f;" href="mailto: loth.covidvaccenquiries@nhslothian.scot.nhs.uk">loth.covidvaccenquiries@nhslothian.scot.nhs.uk</a><br>
    But drop-in clinics are now the best choice if you are over the age of 16.<br><br><br>
    With all the venues listed below we have provided the address and the opening and closing time.<br>
    AstraZeneca, Moderna and Pfizer-BioNTech vaccines are available there:<br>
    <ul class="premises">
        <li><b>East Lothian Community Hospital</b> (Alderston Road, Haddington, East Lothian, EH41 3PF). Mon-Fri, 08:30-12.30 / 13:30-16:30.</li>
        <li><b>Sighthill Health Centre</b> (380 Calder Road, Edinburgh, EH11 4AU). Mon-Fri, 08:30-12:00 / 13:00-16:15.</li>
        <li><b>Pennywell All Care Centre</b> (Pennywell Gardens, Edinburgh, EH4 4UA). Mon-Fri, 08:30-12:00 / 13:00-16:15</li>
        <li><b>Leith Comunity Treatment Centre</b> (Junction Place, Edinburgh, EH6 5JQ). Mon-Fri, 08:30-12:00 / 13:00-15:15</li>
        <li><b>Craigmillar Medical Practice</b> (106 Niddrie Mains Road, Craigmillar, Edinburgh, EH16 4DT). Sat & Sun, 08:30-16:15.</li>
        <li><b>Strathbrock Partnership Centre</b> (189A West Main Street, Broxburn, EH52 5LH). Friday only, 09:00-16:00.</li>
        <li><b>Howden Health Centre</b> (Howden Road West, Livingston, EH54 6TP). Sat&Sun, 09:00-16:00. </li>
        <li><b>Edinburgh International Conference Centre</b> (The Exchange, Edinburgh, EH3 8EE). Mon-Fri, 08:30-19:00</li>
        <li><b>Pyramids Business Park</b> (Easter Inch Steadings, Bathgate EH48 2EH). Mon-Fri, 08:30-19:00</li>
        <li><b>Gorebridge Vaccination Centre </b>(Hunterfield Road, Gorebridge, EH23 4TX). Mon-Fri, 08:30-19:00</li>
        <li><b>Lowland Hall</b> (Royal Highland Vaccination Centre, Ingliston). Mon-Fri, 08:30-19:00</li>



    </ul>
    </p>
</div>

{% endblock %}

